# ================================
# Python
__pycache__/
*.py[cod]
*$py.class
*.so

venv
venv/
.env/
.venv/
env/

data/data_combined
data/embeddings
data/processed
data/raw
data/tokenized
data/finetune_data.json


models/